.form-body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/backgroundform.jpg") repeat;
    background-size: cover;
    font-weight: bolder;
}
.form-container{
    background: var(--ColoresHeaderFooter);
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px black(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    opacity: 90%;
}

.adoption-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.adoption-form_title{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    color: var(--ColoresBotones);
    font-weight: bold;
}
.form-row{
    display: flex;
    gap: 2rem;
}
.form-group{
    flex: 1;
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
input, textarea{
    padding: 8px;
    border: 1px;
    border-radius: 0.5rem;
    font-size: 1em;
}
textarea{
    resize: vertical;
    height: 80px;
}
.form-buttons{
    display: flex;
    justify-content: space-around;
}
.cancel-button{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    background-color: #c4b2b2;
    &:hover{
        background-color: #f5ac7b;
        outline: 2px solid white;
        color: white;
    }
}

.enviar-button{
    background-color: rgb(7, 64, 170);
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    &:hover{
        outline: 2px solid white;
        background-color: rgb(7, 39, 99);

    }
}

/*Tamaño para celulares y tablet*/

/* Tamaño Tablet (768px) */
@media (max-width: 768px){
   .form-body{
    background-size: contain;
   }

}

/*Tamaño Celulares (480px)*/

@media (max-width: 480px){
    .form-body{
        margin: 60px auto;

    }
    .form-row{
        flex-direction: column;
    }
    .form-group{
        width: 100%;
    }
    .form-buttons{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .form-buttons a, .form-buttons button{
        width: 50%;
        text-align: center;
    }
    .form-buttons  a{
        order: 2;
    }

}
